rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /insumos/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /pecas/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /modelos/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /kits/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /partes/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /settings/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /produtos/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /pedidos/{document=**} {
      allow read, create, update, delete: if request.auth != null;
    }
    match /locaisProdutos/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /recipientes/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /lancamentosEstoque/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /lancamentosProdutos/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /modelosRecipiente/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /gruposDeFilamento/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /lancamentosInsumos/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /locaisInsumos/{document=**} {
      allow read, write: if request.auth != null;
    }
    // Permite que usuários autenticados criem lançamentos de serviço
    match /lancamentosServicos/{lancamentoId} {
      allow create: if request.auth != null;
      allow read, write: if false; // Apenas a função pode alterar/ler
    }

    // A coleção de relatórios só pode ser lida pelos clientes (e escrita pelas funções)
    match /relatoriosServicos/{relatorioId} {
      allow read: if request.auth != null;
      allow write: if false; // Apenas funções podem escrever
    }

    // A coleção de serviços pode ser lida por todos
    match /servicos/{servicoId} {
      allow read: if true;
      allow write: if false; // Apenas administradores podem definir serviços
    }
    match /lancamentosProducao/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /gruposProducaoOtimizados/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /gruposMontagem/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /lancamentosMontagens/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /productMetadata/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
