rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /insumos/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /pecas/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /modelos/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /kits/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /partes/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /settings/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /produtos/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /pedidos/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /locaisProdutos/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /recipientes/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /lancamentosEstoque/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /lancamentosProdutos/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /modelosRecipiente/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /gruposDeFilamento/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /lancamentosInsumos/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /locaisInsumos/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /lancamentoServicos/{docId} {
      allow write: if request.auth != null;
    }
    match /lancamentosProducao/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /gruposProducaoOtimizados/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
